.footer{
    padding: 2rem;
}
.footer-container{
    padding: 1rem;
    max-height: max-content;
    gap: 1rem;
    display: grid;
    box-shadow: #ffc336da 0px 1px 3px, #ffc336cd 0px 1px 2px;
    justify-items: center;
}
.footer-container .logo{
    margin-bottom: 20px;
    font-size: 2rem;
    display: grid;
    justify-content: center;
}
.logo b{
    color:#FFC436;
}
.logo a{
    color: #2E334D;
}
.search svg{
    color: #2E334D;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.social-media svg{
    font-size: 2.5rem;
}
@media  screen and (max-width: 300px){
    .social-media svg{
        font-size: 2rem;
    }
    .social-media{
        gap: 1rem;
    }
   .footer-container .logo{
        font-size: 1.8rem;
    }
    .copryright{
        font-size: 0.5rem;
    }
}